body h1,
h2,
p {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

.profile {
    display: flex;
    align-items: center;

}

.photo {
    flex: 1;
    padding: 0 2rem;
}

.photo img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);

}

.bio {
    flex: 2;

}
footer{
    margin-top:auto;
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;


}
@media screen and(max-width:768px){
    .profile{
        flex-direction: column;
    }
}
